* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cursorClass {
    border: 0.4px solid black;
    border-radius: 50%;
    height: 30px;
    aspect-ratio: 1;
    z-index: 1;
    position: absolute;
}

.parent {
    cursor: none;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
}

span {
    font-size: 40px;
    letter-spacing: 8px;
    text-transform: capitalize;
    font-family: system-ui;
}

.parent > span:hover {
    transform: scale(1.8);
    transition: all 300ms ease-in-out 10ms;
}
