* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cursorClass {
    border: 4px solid black;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}

.parent {
    cursor: all-scroll;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
}

.parent > span:hover {
    transform: scale(1.8);
    transition: all 300ms ease-in-out 10ms;
}
